python-dotenv
langgraph
langchain-core
langchain-openai
grandalf
black
isort
langchain_community
langgraph-prebuilt
asyncpg
psycopg2
scikit-learn
httpx
PyJWT
beautifulsoup4
fastapi
uvicorn
langserve
langchain
requests
langchain-tavily>=0.2.11
tavily-python
sse-starlette
pydantic
